.idea/
log/
out/

*.iml

*.iml

*.class

*.lst

target/surefire-reports/com.williamdye.dyce.board.ChessboardTests.txt

target/surefire-reports/com.williamdye.dyce.board.PathsTests.txt

target/MANIFEST.MF

target/classes/logback.xml

target/surefire-reports/com.williamdye.dyce.pieces.PieceTests.txt

dyce.iml

target/surefire-reports/TEST-com.williamdye.dyce.board.ChessboardTests.xml

target/surefire-reports/TEST-com.williamdye.dyce.board.PathsTests.xml

target/surefire-reports/TEST-com.williamdye.dyce.pieces.PieceTests.xml

dyce.iml
